$bg1: #dedede;
$text-color: #4d4d4d;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 86%;
  margin: 0 auto;
}

h2 {
  font-size: 46px;
  color: $text-color;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

body {
  font-family: 'Asap', sans-serif;
  max-width: 1366px;
}

header{
  display: flex;
  background: $bg1;
  width: 100%;
  .header-logo {
    margin-top: 31px;
    margin-left: 7.2%;
  }
  nav  {
    margin-top: 31px;
    margin-left: 41%;
    .top-menu {
      a {
        margin-right: 38px;
        padding-bottom: 8px;
        text-transform: uppercase;
        font-size: 16px;
        color: $text-color;
        &:hover {
          border-bottom: 2px solid #878787;
          text-transform: uppercase;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  #home {
    background: $bg1;
    .wrapper {
      .home-content {
        display: flex;
      }
    }
  }
}

.user-experience {
  padding-top: 180px;
  color: $text-color;
  h1 {
    font-size: 90px;
  }
  span {
    display: flex;
    font-size: 22px;
    padding: 5px 0 30px 0;
  }
  form {
    display: flex;
    input {
      color: $text-color;
      font-size: 16px;
      background: none;
      border: 1px solid $text-color;
      padding: 18px 44px;
      margin-right: 19px;
      text-transform: uppercase;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border: none;
        background: #fff;
        box-shadow: 9px 14px 19px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
    }
  }
}

.user-img {
  margin-top: 15px;
}

.about-content {
  display: flex;
  color: $text-color;
  margin-bottom: 124px;
  .left-about {
    margin-top: 175px;
    margin-right: 164px;
    flex-basis: 466px;
    h2 {
      &:before {
        content: close-quote;
        width: 50px;
        height: 4px;
        background: #7a7a7a;
        position: absolute;
        top: -10px;
        left: 4px;
      }
    }
    p {
      font-size: 16px;
      display: block;
      margin-top: 5px;
    }
    a {
      font-size: 16px;
      text-transform: uppercase;
      color: $text-color;
      display: inline-flex;
      padding: 18px 45px;
      border: 1px solid $text-color;
      font-weight: bold;
      margin-top: 35px;
      &:hover {
        background: $bg1;
        border: none;
      }
    }
  }
  .right-about {
    margin-top: 110px;
  }
}

.services {
  background: #f6f6f6;
  padding: 120px 0 35px 0;
}

.services-content {
  h2 {
    &:before {
      content: url("../img/services-line.jpg");
      position: relative;
      top: -50px;
      left: 125px;
    }
  }
}

.services-content {
  text-align: center;
  position: relative;
  .box-service {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    .categories {
      flex-basis: 33.33%;
      margin-bottom: 87px;
      align-self: center;
      align-items: center;
      a {
        font-size: 24px;
        color: $text-color;
        p {
          padding-top: 10px;
        }
      }
    }
  }
}

.skills {
  text-align: center;
  padding: 117px 126px;
  h2 {
    margin-bottom: 60px;
    &:before {
      content: url("../img/skill-line.jpg");
      position: relative;
      top: -50px;
      left: 135px;
    }
  }
}

.portfolio {
  background: $bg1;
  padding: 126px 0 96px;
  .wrapper {
    h2 {
      &:before {
        content: url("../img/portfolio-line.jpg");
        position: relative;
        top: -50px;
        left: 153px;
      }
    }
    .load-more {
      width: 180px;
      height: 56px;
      margin: 30px auto 0;
      a {
        text-transform: uppercase;
        color: $text-color;
        font-size: 16px;
        border: 1px solid $text-color;
        padding: 18px 45px;
        &:hover {
          border: none;
          background: #fff;
          box-shadow: 9px 14px 19px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  .example {
    margin: 0 28px 28px 0;
    &:nth-child(3) {
      margin-right: 0;
    }
    &:nth-child(6) {
      margin-right: 0;
    }
    &:hover {
      opacity: .5;
    }
  }
}

.testimonials {
  padding: 125px 0;
}

.testimonials-content {
  h2 {
    &:before {
      content: url("../img/testimonials-line.jpg");
      position: relative;
      top: -50px;
      left: 185px;
    }
  }
  .review {
    margin-top: 55px;
    border: 1px solid #212121;
    box-sizing: border-box;
    padding: 80px 65px 36px 120px;
    display: flex;
    .carousel {
      align-items: flex-end;
    }
    .photo {
      margin-right: 30px;
    }
    .carousel {
      display: flex;
      input {

      }
    }
  }
}

.testimonials-text {
  color: #212121;
  text-transform: uppercase;
  h3 {
    font-size: 30px;
  }
  span {
    font-size: 12px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    margin-top: 10px;
    flex-basis: 575px;
  }
}
